*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 320px;
  min-height: 100vh;
}

// main, header{
//     max-width: 1440px;
//     margin: 0 auto;
//     padding: 0 70px;
//     @include mobile-only{
//         padding: 0 20px;
//     }
// }

h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

h2, .introduction__text, #introduction__button{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

p, span {
  font-family: 'Lato', sans-serif;
}
  
a{
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
  
li{
  list-style: none;
}

article, footer {
  padding: 3rem 0;
}
