$color-background : #121212;
$color-background-second : #1C1C1C;
$color-background-third: #333333;
$color-accent-primary: #0099FF;
$color-accent-primary-darker: #004e82;

$color-text : #999999;
$color-text-second: #E5E5E5;

$border-radius: 5px;

$breakpoints: (
    mobile: 599px,
    tablet: 850px
);