@import '../../sass/main.scss';

.project-gallery{
    background-color: $color-background-second;
    color: $color-text-second;
    h2{
        @include fonts(1.75rem, 2.25rem);
        margin: 3rem 0;
    }
    h3{
        @include fonts(1.50rem, 1.75rem);
        margin-bottom: 1rem;
    }
    p{
        @include fonts(1rem, 1.15rem)
    }
    &__container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 1fr;
        gap: 30px;
        margin: 4rem 0;
        @media screen and (max-width: 767px){
            grid-template-columns: repeat(1, 1fr);
        }
    
    }
}

.project-gallery__container > .card::after {
    opacity: 1;
}