@import '../../sass/main.scss';

.introduction{
    background-color: $color-background-third;
    color: $color-text-second;
    h1{
        @include fonts(2rem, 3rem);
        margin-bottom: 1rem;
    }
    p{
        @include fonts(0.80rem, 1.25rem);
    }
    &__button{
        margin: 1rem 0;
    }
}
