@import '../../sass/main.scss';

.introduction{
    background-color: $color-background-third;
    color: $color-text-second;
    padding-top: 4rem;
    .container{
        min-height: 50vh;
    }
    h1{
        @include fonts(2rem, 3rem);
        margin-bottom: 1rem;
        text-transform: uppercase;
        animation: appearBottom 1s cubic-bezier(.46,.12,.64,1.22);
        animation-fill-mode: forwards;
    }
    #introduction__bienvenue{
        @include fonts(1rem, 2rem);
    }
    p{
        @include fonts(0.80rem, 1.25rem);
        animation: appearBottom 1s cubic-bezier(.46,.12,.64,1.22);
        animation-fill-mode: forwards;
        animation-delay: 150ms;
        opacity: 0;
    }
    &__button{
        margin: 1rem 0;
        animation: appearBottom 1s cubic-bezier(.46,.12,.64,1.22);
        animation-fill-mode: forwards;
        animation-delay: 300ms;
        opacity: 0;
    }
}
